.logo
{
width:100px;
height:100px;
float:left;
}


.logoimage
{
width:100px;
height:100px;
}



.message
{
background-color:teal;
width:100%;
height:100px;
position: absloute;
top:50%;
bottom:50%;
translate: translateX(-50%) translateY(-50%);
color:#000080;
font-size:25px;
font-style:italic;
font-weight:bold;
text-align:center;

}

.errMsg
{
background-color:silver;
width:800px;
height:50px;
color:red;
font-size:20px;
font-style:italic;
text-align:center;
		
}

body
{
background-color:#B8860B;
}
welcomepage
{

width:5450px;
height:200px;
}



stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
background-color:Teal;
color:brown;
font-style:bold;
font-size:20px;
}

.webinfo 
{
background-color:green;
font-size:20px;
width:1000px;
height:200px;
}

.empty
{
height:100px;
background-color:#B8860B
}

label
{
background-color:yellow;
color:black;
font-style:italic;
}